$aspire-green : #01D167;
$aspire-green-bg: #00D6B51A;
$aspire-blue1: #0C365A;
$aspire-blue2: #325BAF;
$aspire-blue-bg: #EDF3FF;
$aspire-blue-bg2: #009DFF1A;
$aspire-blue-bg3: #F5F9FF;
$aspire-red-bg: #F251951A;
$aspire-grey: #AAAAAA;
$aspire-red: #f25195