.dashboard-content-wrapper {
    width: 100%;
    min-height: 100vh;
}



.ant-layout-sider {
    background: $aspire-blue-bg;

    p {
        opacity: 30%;
    }
}

.collapse-toggle-section {
    color: $aspire-green;
}

.dashboard-sider-menu,
.dashboard-footer-menu {
    border-inline-end: unset !important;

    .ant-menu-item {
        span {
            vertical-align: middle !important;

        }

        svg {
            min-width: 18px !important;
            height: 18px !important;
        }

        &-active {
            color: $aspire-green !important;
        }

        &-selected {
            background: transparent;
            color: $aspire-green;
        }
    }

}

.dashboard-sider-menu {
    background: transparent !important;
    color: white;

    .ant-menu-item-selected {}
}



.home {
    &__header {
        &__left {

            //color:white;
            &--tag {
                background-color: $aspire-green;
                color: white;
            }

            &--value {
                font-size: 2rem;
            }

        }

        &__right {

            button,
            button:hover {
                display: flex;
                align-items: center;
                background: $aspire-blue2 !important;
                color: white !important;
            }

        }
    }

    &__tabs {
        .ant-tabs-nav {
            margin-inline: 1rem;
        }
    }
}


.display-card {
    position: relative;

    &__show-btn {
        color: $aspire-green;
        display: flex;
        align-items: center;
        margin-left: auto;
        box-shadow: unset !important;
        border: 0 !important;
        margin-right: 0;
        margin-bottom: -4px;
        background: white;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

    &__show-btn:hover {
        color: $aspire-green !important;
    }

    &__content {
        background: $aspire-green;
        color: white;

        &--company {
            justify-self: flex-end;
            display: block;
        }

        &--username {
            font-size: 1.4rem;
        }

        &--number {
            font-size: 1.4rem;
            letter-spacing: 0.4rem;
        }

        &--brand {
            margin-left: auto;
            display: block;
            margin-right: 0;
            color: white;
        }

    }
}


.card-carousel--dots {
    bottom: -24px !important;
    margin-bottom: 50px;

    li {
        height: 10px !important;


        button {
            height: 10px !important;
            border-radius: 10px !important;
            background: $aspire-green !important;

        }


    }

    li.slick-active {
        background-color: $aspire-green;
        border-radius: 10px !important;

        button {
            height: 10px !important;
            border-radius: 10px !important;
            background: $aspire-green !important;

        }
    }
}


.transaction-card {
    &__status__icon {
        background: $aspire-blue2;
        border-radius: 3px;
        position: relative;
        width: 20px;
        height: 16px;

        svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 10px !important;
            height: 10px !important;
        }
    }

    .icon-merchant {
        background-color: $aspire-blue-bg2;
        color: $aspire-blue2;
    }

    .icon-travel {
        background-color: $aspire-green-bg;
        color: $aspire-green;
    }

    .icon-food {
        background-color: $aspire-red-bg;
        color: $aspire-red;
    }

    .icon-default {
        background-color: $aspire-red-bg;
        color: $aspire-red;
    }

    &__icon-wrapper {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        position: relative;

        svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

        }
    }
}

.details-panel__collapse {
    .ant-collapse-content-box {
        padding: 0 !important;
    }
}

.dashboard-footer-menu {
    position: sticky;
    bottom: 0;
    background: white;
    justify-content: space-evenly;

    &__item {}
}


.card-actions {
    border-radius: 5px;
    background: $aspire-blue-bg;
}


.mobile-content-wrapper {
    background: $aspire-blue1;

    .home__header {
        * {
            color: white !important;
        }
    }


    .display-card {
        &__content {

            &--company {}

            &--username {
                font-size: 1rem;
            }

            &--number {
                font-size: 1.4rem;
                letter-spacing: unset !important
            }

        }
    }
}