.aspire-green-text {
    color: $aspire-green;
}

.aspire-blue-text {
    color: $aspire-blue2;
}



.aspire-grey-text {
    color: $aspire-grey;
}

.aspire-green-bg {
    background: $aspire-green-bg;
}